__pycache__
*.pyc
venv
node_modules
.venv/
.ultralytics/
Ultralytics/
uploads/
cropped_images/
ESP32-CAM image/
iphone image/
wifi_pic_tune/ESP32-CAM image/
wifi_pic_tune/iphone image/
wifi_pic_tune/*_render/
*.zip
runs/detect/predict*/
runs/detect/esp32_outputs/
runs/detect/runs/
